.root {
  flex: 0 0 var(--left-panel-w);

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.nav {
  display: flex;
}
.link {
  flex: 1 1 auto;
  min-height: 40px;
  padding: 0;
  padding-bottom: 13px;

  font-size: 12px;
  font-weight: 700;
  color: rgb(var(--color-text), 30%);

  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid rgb(var(--color-text), 30%);

  transition-property: color, font-size;
  transition: var(--trans-default);
  &.active {
    font-size: 20px;
    font-weight: 600;
    // color: rgb(var(--color-accent));
    background: linear-gradient(180deg, #e32521 0%, #ef811b 40%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-color: rgb(var(--color-accent));
  }
}

.preview-wrap {
  position: relative;
}

.preview {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  min-height: 235px;
  pointer-events: none;

  &.active {
    pointer-events: all;
    opacity: 1;
  }
  button {
    align-self: start;
  }
}

.body {
  flex: 1 1 auto;
}
