:root {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-size: 16px;
  line-height: 1.125;

  background: rgb(var(--color-bg));
  color: rgb(var(--color-text));
}

main {
  flex: 1 1 auto;
  position: relative;
  z-index: 0;
}

.container {
  max-width: calc(var(--container-width) + (var(--container-offset) * 2));
  width: 100%;
  padding-inline: var(--container-offset);
  margin-inline: auto;
}
