:root {
  --container-width: 1290px;
  --container-offset: 1rem;

  --left-panel-w: 300px;

  // --grey-55: hsl(0deg 0% 55%);
  // color: rgb(85, 86, 96);

  --c-bg: 28, 29, 43;
  --c-card: 29, 36, 52;
  --c-field-border_dark: 85, 86, 96;
  --c-field_dark: var(--c-card);
  --c-accent: 239, 129, 27;
  --c-white: 255, 255, 255;
  --c-grey: 217, 217, 217;
  --c-text: var(--c-white);
  --c-label: 105, 108, 145;
  --gradient: linear-gradient(180deg, #e32521 0%, #ef811b 100%);
  --gradient-blue: linear-gradient(135deg, #64a4ed 0%, #1d6dc8 39%);
  --gradient-green: linear-gradient(135deg, #78f89c 0%, #1fb148 39%);
  --gradient-orange: linear-gradient(135deg, #f4b67b 0%, #df7614 39%);
  --gradient-red: linear-gradient(135deg, #ff7c96 0%, #d72749 39%);

  --trans-default: 0.3s ease-in-out;
  --trans-slow: 0.7s ease-in-out;
  --trans-steps: 0.3s steps(5);
  --load-fade: 0.1s ease;

  --c-border: 85, 86, 96;
  --border: 1px solid rgb(var(--c-border));
  --border-image-head-foot: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.04) 15.71%,
      rgba(255, 255, 255, 0.24) 30.52%,
      rgba(255, 255, 255, 0.36) 50.14%,
      rgba(255, 255, 255, 0.24) 69.29%,
      rgba(255, 255, 255, 0.04) 87.86%
    )
    1;
  --c-card-border: 84, 91, 105;
  --border-card: 1px solid rgb(var(--c-card-border));
  --border-card-accent-color: 58, 79, 126;
  --border-card-accent: 1px solid rgb(var(--border-card-accent-color));

  --box-shadow-active: 0px 1px 15px rgba(7, 13, 27, 0.7);
  --box-shadow-hover: 0px 1px 15px rgba(27, 7, 3, 0.4);

  --c-input-sm-size: 35px;
  --c-input-sm-fsz: 14px;
  --c-input-sm-width: 390px;

  --c-input-md-size: 54px;
  --c-input-md-fsz: 14px;
  --c-input-md-width: 607px;
}
