---
import HtmlBase from "../layouts/HtmlBase.astro";
import SectGallery from "../sections/SectGallery.astro";
---

<HtmlBase title="E I S V I L | Галлерея">
  <main>
    <SectGallery />
  </main>
</HtmlBase>

<style>
  main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
  }
</style>
