---
import HtmlBase from "@/layouts/HtmlBase.astro";
import SectHero from "@/sections/SectHero.astro";
import SectForm from "@/sections/SectForm.astro";
import SectGames from "@/sections/SectGames.astro";
import SectSocials from "@/sections/SectSocials.astro";
import SectServices from "../sections/SectServices.astro";

// export const prerender = true;
---

<HtmlBase title="E I S V I L">
  <main class="main">
    <SectHero />
    <SectGames />
    <SectServices />
    <SectSocials />
    <SectForm />
  </main>
</HtmlBase>

<style>
  section {
    padding-block: 50px;
  }
</style>
