---
import { getCollection } from "astro:content";
import HtmlBase from "@/layouts/HtmlBase.astro";
import SectHero from "@/components/LandingHero.astro";
import SectForm from "@/sections/SectForm.astro";
import SectGames from "@/sections/SectGames.astro";
import SectSocials from "@/sections/SectSocials.astro";
import SectServices from "@/sections/SectServices.astro";
import SectPublishing from "@/sections/SectPublishing.astro";
import SectCarrier from "@/sections/SectCarrier.astro";
import ServicesModalForm from "@/components/ServicesModalForm.svelte";
import PublishingModalForm from "../components/PublishingModalForm.svelte";
import ModalTrigger from "../components/ModalTrigger.svelte";

const services = await getCollection("services");
const publishing = await getCollection("publishing");
---

<HtmlBase title="E I S V I L">
  <main>
    <SectHero>
      <ModalTrigger client:load type={"services"} flexPosition="center">
        Создать новый мир
      </ModalTrigger>
    </SectHero>
    <SectGames />
    <SectServices />
    <SectPublishing />
    <SectCarrier />
    <SectSocials />
    <SectForm />
  </main>

  <ServicesModalForm client:load services={services} />
  <PublishingModalForm client:load publishing={publishing} />
</HtmlBase>

<style>
  main {
    min-height: calc(100vh - 60px);
  }
  main :global(section) {
    padding-block: 50px;
    overflow: hidden;
  }
</style>
