---
import HtmlBase from "@/layouts/HtmlBase.astro";
import SectHero from "@/sections/SectHero.astro";
---

<HtmlBase title="E I S V I L">
  <main class="main">
    <SectHero />
  </main>
</HtmlBase>

<style>
  section {
    padding-block: 50px;
  }
</style>
