---
import HtmlBase from "@/layouts/HtmlBase.astro";
import SectHero from "@/sections/SectHero.astro";
import SectForm from "@/sections/SectForm.astro";
import SectGames from "@/sections/SectGames.astro";
import SectSocials from "@/sections/SectSocials.astro";
import SectServices from "@/sections/SectServices.astro";
import SectPublishing from "@/sections/SectPublishing.astro";
import SectCarrier from "@/sections/SectCarrier.astro";

export const prerender = true;
---

<HtmlBase title="E I S V I L">
  <main>
    <SectHero />
    <SectGames />
    <SectServices />
    <SectPublishing />
    <SectCarrier />
    <SectSocials />
    <SectForm />
  </main>
</HtmlBase>

<style>
  main {
    min-height: calc(100vh - 60px);
  }
  main :global(section) {
    padding-block: 50px;
  }
</style>
