---
import type { HTMLAttributes } from "astro/types";
import AsideNavLink from "./AsideNavLink.astro";

interface Props extends HTMLAttributes<"aside"> {
  category: string;
  links: { href: string; text: string }[];
}

const { category, links } = Astro.props;
---

<aside>
  <h2>{category}</h2>
  <nav>
    {
      links.map(({ text, href }) => (
        <AsideNavLink href={href}>{text}</AsideNavLink>
      ))
    }
  </nav>
</aside>

<style lang="scss">
  aside {
    flex: 0 0 calc(var(--left-panel-w) + 2px);
    border-right: var(--border-card);
  }

  h2 {
    margin: 0;
    position: relative;
    padding: 0 1rem;
    line-height: 3;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      right: auto;
      width: 100%;
      background: linear-gradient(
        90deg,
        rgb(var(--color-accent), 25%),
        transparent
      );

      transition-property: width;
      transition: var(--trans-default);
    }
  }
  nav {
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
  }
</style>
