---
import type { HTMLAttributes } from "astro/types";
import AsideNavLink from "./AsideNavLink.astro";

interface Props extends HTMLAttributes<"aside"> {
  links: { href: string; text: string }[];
}

const { links } = Astro.props;
---

<aside>
  <nav>
    {
      links.map(({ text, href }) => (
        <AsideNavLink href={href}>{text}</AsideNavLink>
      ))
    }
  </nav>
</aside>

<style lang="scss">
  aside {
    flex: 0 0 calc(var(--left-panel-w) + 2px);
    border-right: 1px solid rgb(var(--border-card-color));
  }

  nav {
    position: sticky;
    top: 60px;
    display: flex;
    flex-direction: column;
  }
</style>
