---
import type { HTMLAttributes } from "astro/types";
import SiteLogo from "./SiteLogo.svelte";
import SVGApple from "@/components/svg/platforms/SVGApple.svelte";
import SVGGoogle from "./svg/platforms/SVGGoogle.svelte";
import SVGRusstore from "./svg/platforms/SVGRusstore.svelte";
import SVGHuawei from "./svg/platforms/SVGHuawei.svelte";
import SVGPlaygame from "./svg/platforms/SVGYandex.svelte";
import SVGVk from "./svg/platforms/SVGVk.svelte";
import SVGSteam from "./svg/platforms/SVGSteam.svelte";
import SVGNintendo from "./svg/platforms/SVGNintendo.svelte";
import SVGXBox from "./svg/platforms/SVGXBox.svelte";
import SVGSony from "./svg/platforms/SVGSony.svelte";
import SVGSupport from "./svg/SVGSupport.svelte";

interface Props extends HTMLAttributes<"footer"> {}

const { class: className, ...props } = Astro.props;
---

<footer class:list={["footer", className]} {...props}>
  <div class="container">
    <div class="inner">
      <div class="left-panel">
        <SiteLogo />

        <p class="info">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
      </div>
      <div class="center-panel">
        <nav class="navigation">
          <div class="col">
            <a class="nav-link" href="">Наши игры</a>
            <a class="nav-link" href="">Услуги</a>
            <a class="nav-link" href="">Издательство</a>
            <a class="nav-link" href="">Карьера</a>
          </div>
          <div class="col">
            <a class="nav-link" href="">Пользовательское соглашение</a>
            <a class="nav-link" href="">Политика конфиденциальности</a>
          </div>
          <div class="col">
            <a class="nav-link" href="">Для прессы</a>
            <a class="nav-link" href="">Контакты</a>
          </div>
        </nav>
        <p class="all-rights"><span>Esvil</span>. 2023. Все права защищены</p>
      </div>
      <div class="right-panel">
        <div class="platforms">
          <h2>Мы на платформах</h2>
          <div class="links">
            <a href="" class="link"><SVGApple /></a>
            <a href="" class="link"><SVGGoogle /></a>
            <a href="" class="link"><SVGRusstore /></a>
            <a href="" class="link"><SVGHuawei /></a>
            <a href="" class="link"><SVGPlaygame /></a>
            <a href="" class="link"><SVGVk /></a>
            <a href="" class="link">
              <SVGSteam />
            </a>
            <a href="" class="link"><SVGNintendo /></a>
            <a href="" class="link"><SVGXBox /></a>
            <a href="" class="link"><SVGSony /></a>
          </div>
        </div>
        <div class="bottom-block">
          <a href=""><SVGSupport /></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    border-top: 1px solid transparent;
    border-image: var(--border-image-head-foot);
    grid-area: footer;
  }
  .inner {
    min-height: 242px;
    display: grid;
    grid-template-columns: var(--left-panel-w) auto 1fr;
    padding-block: 2rem;
  }

  .left-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-right: 1ch;
  }
  .info {
    margin: 0;
    font-size: 10px;
  }

  .center-panel {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border-inline: var(--border);
  }
  .all-rights {
    margin: 0;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    /* cursor: default; */
    user-select: none;
  }
  .all-rights span {
    text-decoration: underline;
    color: rgb(var(--color-accent));
  }

  .navigation {
    display: flex;
    gap: 2rem;
  }
  .navigation .col {
    width: 190px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .nav-link {
    color: rgb(var(--color-text), 30%);
    font-weight: 300;
    transition: color var(--trans-default);
  }
  .nav-link:hover {
    color: rgb(var(--color-text), 50%);
  }

  .right-panel {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }

  .platforms {
  }
  .platforms h2 {
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 600;
  }
  .platforms .links {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: flex-start;
    gap: 10px 5px;
  }

  .link {
    color: rgb(var(--color-text), 30%);
    transition: color var(--trans-default);
  }
  .link:hover {
    color: rgb(var(--color-text), 50%);
  }
</style>
