---
import type { HTMLAttributes } from "astro/types";
import BtnFirm from "./BtnFirm.svelte";
import Form from "./Form.svelte";
import { Image } from "astro:assets";
import bgPreview from "@/img/hero.jpg";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;
---

<script>
  const formCard = document.querySelector(".form-card");
  const fields = formCard?.querySelectorAll("input, textarea");
  fields?.length &&
    fields.forEach((field) => {
      field.addEventListener("blur", () => {
        formCard?.classList.remove("active");
      });
    });
  fields?.length &&
    fields.forEach((field) => {
      field.addEventListener("focus", () => {
        formCard?.classList.add("active");
      });
    });
</script>

<div class:list={["form-card", className]} {...props}>
  <Image class={"img"} src={bgPreview} alt={""} />
  <p class="description">
    <slot name="description" />
  </p>
  <div class="body">
    <div class="preview">
      <BtnFirm>Заполнить форму</BtnFirm>
    </div>
    <Form />
  </div>
</div>

<style lang="scss">
  .form-card {
    position: relative;
    border: var(--border-card);

    // Углы start
    &::after,
    &::before,
    .body::before,
    :global(.form)::before {
      content: "";
      position: absolute;
      background-color: rgb(var(--color-bg));
      transform: rotate(45deg);
    }
    .body::after {
      content: "";
      position: absolute;
      background-color: rgb(var(--color-card));
      transform: rotate(45deg);
    }
    &::after,
    .body::after {
      right: -1rem;
      top: -1rem;
      width: 2rem;
      height: 2rem;
      border-bottom: var(--border-card);
      transition: border-color var(--trans-slow);
    }
    &,
    .body,
    :global(.form) {
      &::before {
        width: 8rem;
        height: 8rem;
        left: -4rem;
        bottom: -4rem;
        border-top: var(--border-card);
      }
    }
    // Углы end

    // Фокус start
    &:hover,
    &.active {
      .body {
        background-color: rgb(var(--color-card), 90%);
        &::after {
          border-color: transparent;
        }
      }

      .preview {
        border-color: transparent;
        :global(.btn-firm) {
          opacity: 0;
        }
      }

      :global(.form) {
        opacity: 1;
      }
    }
    // Фокус end
  }

  .img {
    z-index: -1;
    position: absolute;
    object-fit: cover;
    object-position: center;
    inset: 0;
    height: 100%;
  }

  .description {
    background-color: rgb(var(--color-card), 90%);
    padding: 2rem;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  .description :global(span) {
    color: rgb(var(--color-accent));
  }

  .body {
    overflow: hidden;
    position: relative;
    background-color: rgb(var(--color-card), 50%);

    transition: background-color var(--trans-slow);
  }

  .preview {
    opacity: 1;
    position: absolute;
    inset: 0;
    border-top: var(--border-card);
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color var(--trans-slow);

    :global(.btn-firm) {
      transition: opacity var(--trans-slow);
    }
    /* display: none; */
  }

  .form-card :global(.form) {
    position: relative;
    opacity: 0;

    transition: opacity var(--trans-slow);
  }
</style>
