---
import type { HTMLAttributes } from "astro/types";
import { Image } from "astro:assets";
import banner from "../content/games/img/chain/chain_banner.png";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...props } = Astro.props;
---

<div class:list={["games-hero", className]} {...props}>
  <Image
    src="@/content/games/img/chain/chain_banner.png"
    alt="Chain"
    width="1920"
    height="760"
  />

  <style></style>
</div>
