---
const { class: className, ...props } = Astro.props;
---

<div class:list={["side-panel", className]} {...props}>
  <slot />
</div>

<style lang="scss">
  .side-panel {
    padding-bottom: calc(0.5rem - 2px);

    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .side-panel::after {
    position: absolute;

    bottom: -50%;
    height: 100%;
    content: "";
    background: radial-gradient(50% 50%, rgba(239, 129, 27, 0.25), transparent);
    aspect-ratio: 2/1;
  }
  .side-panel:first-child {
    &::after {
      right: -60px;
    }
  }
  .side-panel:last-child {
    justify-content: end;
    &::after {
      left: -60px;
    }
  }

  @media (orientation: portrait), (max-width: 1024px) {
    .side-panel::after {
      content: none;
    }
  }
</style>
