---
import SiteNav from "./SiteNav.svelte";
import HeaderSidePanel from "./HeaderSidePanel.astro";
import SiteLogo from "./SiteLogo.svelte";
import SiteMenuToggle from "./MobileMenuToggler.svelte";
---

<header class="header">
  <div class="container">
    <HeaderSidePanel>
      <SiteLogo />
    </HeaderSidePanel>
    <SiteNav url={Astro.url} onHeader />
    <HeaderSidePanel>
      <SiteMenuToggle client:visible />
    </HeaderSidePanel>
  </div>
</header>

<style>
  .header {
    z-index: 1;
    position: sticky;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 2px;
    grid-area: header;

    background: rgb(var(--c-bg), 50%);
    backdrop-filter: blur(10px);

    top: 0;
    width: 100%;

    border-bottom: 1px solid transparent;
    border-image: var(--border-image-head-foot);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    gap: 5px;
  }

  .site-logo {
    box-sizing: content-box;
    padding-block: 0.5rem;
  }

  @media (orientation: portrait), (max-width: 1024px) {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
