.wrap {
  width: 100%;
  position: relative;
}

.panel {
  position: absolute;
  inset: 0;
}

.slider {
  position: relative;
  margin: -16px;
  margin-bottom: 5px;
  --height: 170px;
}

.slider-wrap {
  position: relative;
  &::after,
  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    z-index: 2;
    inset: -1px;
    width: 15%;
    background: linear-gradient(90deg, transparent, rgb(var(--color-bg)));

    transition-property: opacity;
    transition: var(--trans-default);
  }
  &::after {
    left: auto;
  }
  &::before {
    right: auto;
    transform: rotate(180deg);
  }
  &:global(.isEnd) {
    &::after {
      opacity: 0;
    }
  }
  &:global(.isBeginning) {
    &::before {
      opacity: 0;
    }
  }
}

.slide-wrap {
  padding: 16px;
  width: 100%;
  aspect-ratio: 4/3;
  // height: calc(var(--height) + 30px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  height: 100%;

  position: relative;
  border: 1px solid transparent;

  border-image: linear-gradient(
      160deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0) 90%
    )
    30;
  border-width: 1px;
  border-style: solid;

  filter: brightness(0.5);

  transition-property: box-shadow, border-image, filter;
  transition: var(--trans-default);

  &::after {
    pointer-events: none;
    position: absolute;
    content: "";
    inset: 0px;
    opacity: 0;

    background: linear-gradient(
      149deg,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 36.93%
    );
    transition: opacity var(--trans-default);
  }

  &:hover {
    filter: brightness(1);
    border-image: linear-gradient(
        160deg,
        rgba(255, 255, 255, 60%) 0%,
        rgba(255, 255, 255, 0) 60%
      )
      30;
    box-shadow: var(--box-shadow);
    &::after {
      opacity: 1;
    }
  }
}

.image img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

// .btn-nav {
//   z-index: 1;
//   position: absolute;
//   padding: 0;
//   background-color: transparent;
//   border: none;

//   top: calc(50% - 24px);

//   transition: opacity var(--trans-default);

//   svg {
//     height: 48px;
//     width: 48px;
//   }

//   &.left {
//     left: 24px;
//     &:global(.isBeginning) {
//       opacity: 0;
//       pointer-events: none;
//     }
//   }
//   &.right {
//     right: 24px;
//     &:global(.isEnd) {
//       opacity: 0;
//       pointer-events: none;
//     }
//   }
// }
