---
import type { InferGetStaticParamsType } from "astro";
import { getEntryBySlug } from "astro:content";
import type { getStaticPaths } from "@/pages/gallery/[category]/[lang]/[slug].astro";
import GalleryThumbs from "../components/GalleryThumbs.svelte";
import GalleryDetail from "../components/GalleryDetail.svelte";

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { title } = Astro.props;
const { category, lang, slug } = Astro.params as Params;

const {
  data: { images },
} = await getEntryBySlug(category, `${lang}/${slug}`);
---

<section>
  <GalleryDetail client:load data={images} />
  <GalleryThumbs client:load data={images} />
</section>

<style lang="scss">
  section {
    height: 100%;
    display: flex;
  }
</style>
