---
import type { HTMLAttributes } from "astro/types";
import LinkToDetailPage from "../components/LinkToDetailPage.svelte";

interface Props extends HTMLAttributes<"section"> {}

const { class: className, ...props } = Astro.props;
---

<section class:list={["sect-games", className]} {...props}>
  <div class="container">
    <h2 class="sect-title">
      Наши игры
      <LinkToDetailPage to="/games" />
    </h2>
    <slot />
  </div>
</section>

<style>
  .sect-title {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
</style>
