---
import type { HTMLAttributes } from "astro/types";
import PublishingTabs from "@/components/PublishingTabs.svelte";
import PublishingCards from "@/components/PublishingCards.svelte";

interface Props extends HTMLAttributes<"section"> {}

const { class: className, ...props } = Astro.props;
---

<section class:list={["publishing", className]} {...props}>
  <div class="container">
    <h2 class="sect-title">Издательство</h2>
    <div class="body">
      <PublishingTabs client:load />
      <PublishingCards client:load />
    </div>
  </div>
</section>

<style>
  .body {
    display: flex;
    gap: 60px;
    justify-content: space-between;
  }
</style>
