---
import type { HTMLAttributes } from "astro/types";
import GamesCatalog from "../components/GamesCatalog.svelte";

interface Props extends HTMLAttributes<"section"> {}

const { class: className, ...props } = Astro.props;
---

<section
  class:list={["sect-games-catalog", className]}
  {...props}
  id="games-catalog"
>
  <div class="container">
    <GamesCatalog client:load />
  </div>
</section>

<style>
  .container {
    position: relative;
  }
</style>
