---
import type { HTMLAttributes } from "astro/types";
import { getCollection } from "astro:content";
import PublishingTabs from "@/components/PublishingCarousel/PublishingTabs.svelte";
import PublishingCards from "@/components/PublishingCarousel/PublishingCards.svelte";
import { publishingData } from "../components/PublishingCarousel/store";
import PublishingCarousel from "../components/PublishingCarousel/PublishingCarousel.svelte";

interface Props extends HTMLAttributes<"section"> {}

const { class: className, ...props } = Astro.props;
---

<section class:list={["publishing", className]} {...props}>
  <div class="container">
    <h2>Издательство</h2>

    <PublishingCarousel client:load />
  </div>
</section>
