---

import { getEntryBySlug } from "astro:content";

import GalleryThumbs from "../components/GalleryThumbs.svelte";
import GalleryDetail from "../components/GalleryDetail.svelte";

const { title } = Astro.props;

const {
  data: { images },
} = await getEntryBySlug(category, `${lang}/${slug}`);
---

<section>
  <GalleryDetail client:load data={images} />
  <GalleryThumbs client:load data={images} />
</section>

<style lang="scss">
  section {
    height: 100%;
    display: flex;
  }
</style>
