---
import type { HTMLAttributes } from "astro/types";
import BestGamesSlider from "../components/BestGamesSlider.svelte";

interface Props extends HTMLAttributes<"section"> {}

const { class: className, ...props } = Astro.props;
---

<section class:list={["sect-best-games", className]} {...props}>
  <div class="container">
    <BestGamesSlider client:load />
  </div>
</section>

<style>
  .container {
    position: relative;
  }
</style>
