---
import type { HTMLAttributes } from "astro/types";
import ServicesTabs from "@/components/ServicesTabs/ServicesTabs.svelte";

interface Props extends HTMLAttributes<"section"> {}

const { class: className, ...props } = Astro.props;
---

<section class:list={["sect-services", className]} {...props}>
  <div class="container">
    <h2 class="sect-title">Услуги</h2>
    <ServicesTabs client:visible />
  </div>
</section>
