---
import type { HTMLAttributes } from "astro/types";
import FormCard from "../components/FormCard.astro";

interface Props extends HTMLAttributes<"section"> {}

const { class: className, ...props } = Astro.props;
---

<section class:list={["sect-form", className]} {...props}>
  <div class="container">
    <h2>Сми или блогер</h2>
    <FormCard>
      <Fragment slot="description">
        Журналисты или подтверждённые блогеры <br /><span>ПЕРВЫМИ</span> узнают
        о тестировании игры
      </Fragment>
    </FormCard>
  </div>
</section>

<style>
  .sect-form {
    overflow: hidden;
  }
</style>
