---
import type { HTMLAttributes } from "astro/types";
import GamesSlider from "../components/GamesSlider.svelte";
import { getCollection } from "astro:content";

interface Props extends HTMLAttributes<"section"> {}

const games = await getCollection("games");

const { class: className, ...props } = Astro.props;
---

<section class:list={["sect-games", className]} {...props}>
  <div class="container">
    <h2>Наши игры</h2>
    <GamesSlider client:load games={games} />
  </div>
</section>

<style></style>
