---
import { parse } from "marked";
import AsideNav from "../components/AsideNav.astro";
import HtmlBase from "./HtmlBase.astro";

const { title, description, links, markdown } = Astro.props;
---

<HtmlBase title={title} description={description}>
  <div class="container" transition:animate="slide">
    <AsideNav links={links} />
    <main>
      <slot name="before" />
      {
        markdown && (
          <section class="prose detail">
            <Fragment set:html={parse(markdown)} />
          </section>
        )
      }
      <slot name="after" />
    </main>
  </div>
</HtmlBase>

<style>
  .container {
    display: flex;
  }
  main {
    padding: 30px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: calc(100vh - 60px);
  }
</style>
