---
import AsideNav from "../components/AsideNav.astro";
import HtmlBase from "./HtmlBase.astro";

const { title, description, links } = Astro.props;
---

<HtmlBase title={title} description={description}>
  <div class="container">
    <AsideNav links={links} />
    <main>
      <slot />
    </main>
  </div>
</HtmlBase>

<style>
  .container {
    display: flex;
  }
  main {
    padding: 30px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-height: calc(100vh - 60px);
  }
</style>
