---
import AsideNav from "../components/AsideNav.astro";
import HtmlBase from "./HtmlBase.astro";

const { title, description, h1, links } = Astro.props;
---

<HtmlBase title={title} description={description}>
  <div class="container">
    <AsideNav title={h1} links={links} />
    <main>
      <slot />
    </main>
  </div>
</HtmlBase>

<style>
  .container {
    display: flex;
  }
  main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
  }
</style>
