---
import AsideNav from "../components/AsideNav.astro";
import SectForm from "../sections/SectForm.astro";
import SectSocials from "../sections/SectSocials.astro";
import HtmlBase from "./HtmlBase.astro";

const { title, description } = Astro.props;
---

<HtmlBase title={title} description={description}>
  <main transition:animate="slide">
    <slot />
    <SectSocials class="layout" />
    <SectForm class="layout" />
  </main>
  <slot name="after-main" />
</HtmlBase>

<style lang="scss">
  main {
    :global(section) {
      overflow: hidden;
      padding-block: 75px;
    }
    :global(section):first-of-type {
      padding-top: 100px;
      padding-bottom: 75px;
    }
    section {
      &.layout {
        padding-block: 50px;
      }
    }
  }
</style>
