---
// Import Fonts
import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/900.css";

import { ViewTransitions } from "astro:transitions";
import SiteHeader from "../components/Header.astro";
import "@/styles/index.scss";
import SiteFooter from "../components/Footer.astro";
import MobileMenu from "../components/MobileMenu.svelte";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Eisvil - это люди объединенные общей целью и желанием создавать игры!",
} = Astro.props;
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-src.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <!-- <script
      is:inline
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script> -->
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <SiteHeader />
    <slot />
    <SiteFooter />

    <MobileMenu client:load />

    <script>
      // declare global {
      //   interface Window {
      //     netlifyIdentity: any;
      //   }
      // }
      // if (window.netlifyIdentity) {
      //   window.netlifyIdentity.on("init", (user: any) => {
      //     if (!user) {
      //       window.netlifyIdentity.on("login", () => {
      //         document.location.href = "/admin/";
      //       });
      //     }
      //   });
      // }
    </script>
  </body>
</html>
