---
// Import Fonts
import "@fontsource/inter/300.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/900.css";
import { ViewTransitions } from "astro:transitions";
import SiteHeader from "../components/SiteHeader.astro";
import "@/styles/index.scss";
import SiteFooter from "../components/SiteFooter.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Сайт про игры" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-src.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <SiteHeader />
    <slot />
    <SiteFooter />
  </body>
</html>
