@mixin fields-bg {
  position: relative;

  &.v-default {
    --clip-size: 25px;
    --field-color: rgb(var(--color-white), 30%);
  }
  &.v-dark {
    --clip-size: 16px;
    --field-color: rgb(var(--color-card));

    .bg {
      border: 2px solid rgb(var(--border-card-color));

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 2px;
        height: calc(var(--clip-size) * 1.41);
        background-color: rgb(var(--border-card-color));
        transform: rotate(45deg);
      }
      &::before {
        top: -2px;
        left: calc(var(--clip-size) - 2px);
        transform-origin: top;
      }
      &::after {
        right: calc(var(--clip-size) - 2px);
        bottom: -2px;
        transform-origin: bottom;
      }
    }
  }
  &:hover {
    --field-color: rgb(var(--color-white), 45%);
  }

  &.typing {
    --field-color: rgb(var(--color-accent), 65%);
  }

  .bg {
    position: absolute;
    inset: 0;

    @include firm-clip($size: var(--clip-size));
    background-color: var(--field-color);
    transition: background-color var(--trans-default);
  }
}
