@mixin fields-bg {
  position: absolute;
  inset: 0;

  @include firm-clip;
  background-color: rgb(var(--color-white), 30%);
  transition: background-color var(--trans-default);

  *:focus-visible ~ & {
    background-color: rgb(var(--color-white), 45%);
  }
  .typing & {
    background-color: rgb(var(--color-accent));
  }
}
