@mixin firm-arrows($opacity: 1) {
  :global(.arrow) {
    position: absolute;

    color: rgb(var(--color-white), $opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9px;
    height: 9px;
    :global(svg) {
      transform: rotate(45deg);
    }
  }
  :global(.arrow.right) {
    bottom: 0;
    right: 0;
    transform: rotate(135deg);
  }
  :global(.arrow.left) {
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
}
