@mixin firm-arrows($opacity: 1) {
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 0.5em;
    aspect-ratio: 1/1;
    background: url("/src/img/btn-arrow.svg") no-repeat;
    opacity: $opacity;
  }
  &::after {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
  &::before {
    top: 0;
    left: 0;
  }
}
