@mixin firm-arrows($opacity: 1) {
  .arrow {
    position: absolute;

    color: rgb(var(--color-white), $opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 1.5em;
    :global(svg) {
      transform: rotate(45deg);
    }
  }
  .arrow.right {
    bottom: -0.5em;
    right: -0.75em;
    transform: rotate(135deg);
  }
  .arrow.left {
    top: -0.5em;
    left: -0.75em;
    transform: rotate(-45deg);
  }
}
