@mixin hover-text1(
  $t-color: rgb(var(--color-text)),
  $sh-lt-color: rgb(var(--color-accent), 20%),
  $sh-rb-color: rgb(var(--color-white), 20%)
) {
  color: $t-color;
  text-shadow:
    -3px -3px $sh-lt-color,
    2.5px 2.5px $sh-rb-color;
}
